# Virtual environment
fitness_env/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Large files & Installers
*.sh
*.exe
*.dmg
*.task
*.bin
*.weights